[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
hypothesis = "==6.103.1"
mypy = "==1.10.0"
mypy-extensions = "==1.0.0"
pytest = "==8.2.2"
pytest-cov = "==5.0.0"
black = "==24.4.2"
approvaltests-minimal = "==12.2.1"
py-spy = "==0.3.14"
radon = "==6.0.1"
typing-extensions = "*"

[packages]
PySide6 = "==6.6.0"

[requires]
python_version = "3.9"
