[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
hypothesis = "==6.35.0"
mypy = "==0.930"
mypy-extensions = "==0.4.3"
pytest = "==6.2.5"
pytest-cov = "==3.0.0"
black = "==21.12b0"
pytest-approvaltests = "==0.2.3"
approvaltests = "==3.3.2"
py-spy = "==0.3.11"

[packages]
PyQt5 = "==5.15.6"

[requires]
python_version = "3.8"
