[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
hypothesis = "==6.87.3"
mypy = "==1.5.1"
mypy-extensions = "==1.0.0"
pytest = "==7.4.2"
pytest-cov = "==4.1.0"
black = "==23.9.1"
approvaltests-minimal = "==9.0.0"
py-spy = "==0.3.14"
radon = "==6.0.1"
typing-extensions = "*"

[packages]
PyQt5 = "==5.15.9"
PySide6 = "==6.5.3"

[requires]
python_version = "3.9"
